*.obj
*.nvm
*.dll
*.png
*.PNG
*.JPG
*.jpg
*.ply
*.ilk
*.pdb
*.exp
*.txt
*.zip
*.exe
*.tloog
*.log
*.lib
*.dll
moc_*
*.nvm
*.cd
/bin/
/bin/TempData.nvm.cmvs/
/GeneratedFiles/
/x64/
/Release/
/Debug/
ipch
/bin/log/
/libs/ThirdParty
/libs/TextureGeneration/

